.broker {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgb(255, 255, 255);
  font-size: 11px;
}
.broker div, svg {
  display: inline-block;
}

.info {
  font-style: italic;
  font-size: 10px;
  margin-left: 10px;
  padding: 3px;
}

h1 { margin-bottom: 0px; font-size: 22px; }