<div class="broker" *ngIf="connected">
  <b>Connected to:</b> {{mqttOptions.hostname}}
</div>

<div class="broker" *ngIf="!connected">
  <svg version="1.1" viewBox="0 0 100 100" height="26px" enable-background="new 0 0 100 100" xml:space="preserve">
    <path fill="#fff" d="M31.6,3.5C5.9,13.6-6.6,42.7,3.5,68.4c10.1,25.7,39.2,38.3,64.9,28.1l-3.1-7.9c-21.3,8.4-45.4-2-53.8-23.3 c-8.4-21.3,2-45.4,23.3-53.8L31.6,3.5z">
      <animateTransform attributeName="transform" attributeType="XML" type="rotate" dur="2s" from="0 50 50" to="360 50 50" repeatCount="indefinite"	/>
    </path>
    <path fill="#fff" d="M42.3,39.6c5.7-4.3,13.9-3.1,18.1,2.7c4.3,5.7,3.1,13.9-2.7,18.1l4.1,5.5c8.8-6.5,10.6-19,4.1-27.7 c-6.5-8.8-19-10.6-27.7-4.1L42.3,39.6z">
      <animateTransform attributeName="transform" attributeType="XML" type="rotate" dur="1s" from="0 50 50" to="-360 50 50" repeatCount="indefinite" />
    </path>
    <path fill="#fff" d="M82,35.7C74.1,18,53.4,10.1,35.7,18S10.1,46.6,18,64.3l7.6-3.4c-6-13.5,0-29.3,13.5-35.3s29.3,0,35.3,13.5 L82,35.7z">
      <animateTransform attributeName="transform" attributeType="XML" type="rotate" dur="2s" from="0 50 50" to="360 50 50" repeatCount="indefinite" />
    </path>
  </svg>
  <div style="margin-left:10px">Connecting to MQTT broker</div>
</div>

<h1>Home Dashboard</h1>
<div class="info"><i>NOTE: This dashboard works properly only with Node-RED based backend controller turned on and sensors attached.</i></div>

<div class="dashboard">
  <app-widget-command></app-widget-command>
  <app-widget-floor></app-widget-floor>
  <app-widget-floor3d></app-widget-floor3d>
  <app-widget-light></app-widget-light>
  <app-widget-temperature></app-widget-temperature>
  <app-widget-leds></app-widget-leds>
  <app-widget-audio></app-widget-audio>
  <app-widget-servo></app-widget-servo>
  <app-widget-camera></app-widget-camera>
  <app-widget-watering></app-widget-watering>
  <app-widget-notification></app-widget-notification>
  <app-widget-poll></app-widget-poll>
  <!-- <app-widget-gamepad></app-widget-gamepad> -->
  <!-- <app-widget-gyroscope></app-widget-gyroscope> -->
  <!-- <app-widget-chart></app-widget-chart> -->
  <!-- <app-widget-midi></app-widget-midi> -->
</div>
